<footer>

<div class="fixed-actions">
  <a href="tel:051-791-1300" class="fab fab-phone" title="대연동 서울참정형외과 전화상담">
  <i class="fa-solid fa-phone-alt"></i>
  </a>
  <a href="https://naver.me/xBwJiqfD" class="fab fab-map" title="대연동 서울참정형외과 오시는길">
  <i class="fa-solid fa-map-marker-alt"></i>
  </a>
  <a href="https://m.booking.naver.com/booking/13/bizes/982439" class="fab fab-reserve" title="대연동 서울참정형외과 네이버예약" target="_blank">
  <i class="fa-solid fa-calendar-check"></i>
  </a>
</div>

  <p>© 2026 서울참정형외과의원. All rights reserved.</p>
  <p class="contact-info">
    주소: 부산시 남구 수영로 216, 2/3층 
    <span class="phone">대표전화: 051-791-1300</span>
  </p>
</footer>