<header>


<a href="{{ site.baseurl }}/" class="logo">
    <picture>
      <source media="(max-width: 840px)" srcset="{{ site.baseurl }}/img/logo.jpg">
      <img src="{{ site.baseurl }}/img/logo.jpg" alt="서울참정형외과의원 로고">
    </picture>
</a>
  <!-- 햄버거 버튼 (모바일 전용) -->
  <div class="hamburger" id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <!-- PC 용 내비게이션 (모바일에서는 사이드 드로어 사용하므로 숨김) -->
  <div class="nav-container" id="nav-container">
    <!-- 닫기 버튼 -->
    <button class="drawer-close" id="drawer-close" aria-label="메뉴 닫기">✕</button>

    <nav>
      <ul class="main-menu">
        <li>
          <a href="{{ site.baseurl }}/index.html">본원소개</a>
          <ul class="sub-menu">
            <li><a href="{{ site.baseurl }}/about/intro.html">인사말</a></li>
            <li><a href="{{ site.baseurl }}/about/doctor.html">의료진소개</a></li>
            <li><a href="{{ site.baseurl }}/about/facility.html">시설안내</a></li>
            <li><a href="{{ site.baseurl }}/about/device.html">장비소개</a></li>
            <li><a href="{{ site.baseurl }}/about/price.html">비급여수가표</a></li>
          </ul>
        </li>
        <li>
          <a href="{{ site.baseurl }}/department.html">진료과목</a>
          <ul class="sub-menu">
            <li><a href="{{ site.baseurl }}/department/spine.html">척추</a></li>
            <li><a href="{{ site.baseurl }}/department/shoulder.html">어깨</a></li>
            <li><a href="{{ site.baseurl }}/department/foot.html">족부</a></li>
            <li><a href="{{ site.baseurl }}/department/knee.html">무릎</a></li>
            <li><a href="{{ site.baseurl }}/department/hand.html">수부</a></li>
          </ul>
        </li>
        <li>
          <a href="https://blog.naver.com/seoulcharm1" target="_blank" rel="noopener">블로그소식</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/menu/wayto.html">오시는길</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
